    	/******** COLLECTION MANAGEMENT PROGRAM CSS ********/
    	
    	.table-bordered>tbody>tr.report-total>td {
    		border-top: 2px solid #000;
    		border-bottom: 2px solid #000;
    	}
    	
    	#cn-parentChild {
    		position: relative;
    		top: 0px;
    		right: 0px;
    		float: right;
    		z-index: 9999999;
    	}
    	
    	.modal-dialog.lg {
    		width: 900px;
    	}
    	
    	a.lnk-active {
    		font-weight: 800;
    		text-decoration: none;
    	}
    	/*------------------------------------*\
	#Jessica
\*------------------------------------*/
    	/*Close gab between tabs*/
    	
    	.wb-tabs [role=tablist] li {
    		margin: 0 3px 0 0;
    	}
    	
    	.list-group-item-warning a .text-warning.fa.fa-pencil:hover {
    		color: #333;
    	}
    	
    	.list-group-item-warning a .text-warning.fa.fa-trash:hover {
    		color: #333;
    	}
    	/*Align icon with toggle text*/
    	
    	.toggle .fa-plus-circle {
    		line-height: 1.49;
    	}
    	
    	.fa-star.star-yellow {
    		color: #FBD850;
    	}
    	
    	ul.search-results>li,
    	ul.consolidated-search-results>li {
    		padding-top: 8px;
    		padding-bottom: 8px;
    		border-bottom: 1px dotted #cccccc;
    	}
    	
    	ul.search-results>li>address {
    		margin: 0;
    	}
    	
    	.nav-button>.row>.col-md-8>.pagination>li>a {
    		margin-bottom: -8px !important;
    	}
    	
    	.ui-datepicker-trigger {
    		border: none;
    		background: none;
    	}
    	
    	.survey {
    		padding: 0px 10px;
    		margin: 15px 0;
    		border: 1px solid #e3e3e3;
    		border-radius: 3px;
    		background: #f5f5f5;
    	}
    	
    	.survey .cycle {
    		border-left: 1px solid #C0C0C0;
    	}
    	
    	.sp-done {
    		background: #d8eeca;
    		padding: 1px 8px 1px 6px;
    		border-radius: 10px;
    	}
    	
    	.sample-uploaded {
    		background: #e5eed0;
    		padding: 3px 8px 3px 6px;
    		margin-left: 10px;
    		border-radius: 10px;
    	}
    	
    	.start-date,
    	.end-date {
    		margin: 5px 0 20px 0;
    	}
    	
    	.panel-toggle ul.list-justified {
    		display: table;
    		width: 100%;
    		list-style: none;
    		padding: 0;
    	}
    	
    	.panel-toggle ul.list-justified>li {
    		float: none;
    		display: table-cell;
    		padding: 5px;
    		border-right: 1px solid #eee;
    		width: 33.33%;
    	}
    	
    	.panel-toggle ul.list-justified>li:first-child {
    		padding: 0px 15px 5px 0px !important;
    	}
    	
    	.panel-toggle ul.list-justified>li:last-child {
    		border: none;
    		padding: 0px 0px 5px 15px !important;
    	}
    	
    	.panel-toggle ul.list-justified>li p {
    		margin: 0;
    	}
    	
    	.sample-units {
    		font-size: 25px;
    		color: #176BA5;
    		font-weight: bold;
    	}
    	
    	.category {
    		color: #176BA5;
    		font-weight: bold;
    		padding-bottom: 2px;
    	}
    	
    	#parentSurvey tr:first-child .up,
    	#parentSurvey tr:last-child .down {
    		display: none;
    	}
    	
    	.up,
    	.down {
    		display: block;
    		margin: 0 auto;
    		border-width: 0;
    		height: 15px;
    		overflow: hidden !important;
    	}
    	
    	.down {
    		padding-bottom: 18px;
    	}
    	
    	.down i {
    		line-height: 0em;
    	}
    	
    	.highlight {
    		background-color: #f2f9fe !important;
    	}
    	
    	.panel-info-muted {
    		border: 1px dotted #bebebe;
    	}
    	/*Outcome code*/
    	
    	.operations-tabs [role="tablist"] li.active a {
    		height: 30px !important;
    	}
    	
    	.operations-tabs [role="tablist"] li {}
    	
    	.outcome-tabs [role="tablist"] li.active a {
    		height: 28px !important;
    		background-color: transparent !important;
    		/* -webkit-box-shadow: 4px 0px 0px 0px #fff; */
    		box-shadow: 0px 4px 0px 0px #fff !important;
    		-moz-box-shadow: 0px 4px 0px 0px #fff;
    	}
    	
    	.outcome-tabs ul.generated {
    		float: none !important;
    		display: -webkit-box !important;
    		display: -moz-box !important;
    		display: -ms-flexbox !important;
    		display: -webkit-flex !important;
    		display: flex;
    	}
    	
    	.outcome-tabs ul.generated li {
    		border-bottom: 0 !important;
    		top: 1px !important;
    		margin: 0 10px 0 0 !important;
    		border-top-left-radius: 5px !important;
    		border-top-right-radius: 5px !important;
    		border-bottom-right-radius: 0px !important;
    		border-bottom-left-radius: 0px !important;
    		border-color: #ccc !important;
    		border-style: solid !important;
    		border-width: 1px !important;
    	}
    	
    	.outcome-tabs .generated li.active {
    		border-bottom-color: white !important;
    		cursor: default;
    		padding-bottom: 1px;
    	}
    	
    	.operations-tabs details {
    		border-top-left-radius: 0px !important;
    	}
    	
    	.light-blue-highlight {
    		background-color: #EFF7FF !important;
    		-moz-transition: background-color 2s;
    		-webkit-transition: background-color 2s;
    		-o-transition: background-color 2s;
    		transition: background-color 2s;
    	}
    	
    	#supervisorTable tbody tr {
    		-moz-transition: background-color 2s;
    		-webkit-transition: background-color 2s;
    		-o-transition: background-color 2s;
    		transition: background-color 2s;
    	}
    	/*------------------------------------*\
	#Jessica - End
\*------------------------------------*/
    	/*------------------------------------*\
	#Julie
\*------------------------------------*/
    	/* RMM */
    	/* trying to fix the cell centering */
    	
    	.forecastCAPI td .input-group .form-control,
    	.forecastCATI td .input-group .form-control {
    		float: none;
    		text-align: center;
    	}
    	/*------------------------------------*\
	#Julie - End
\*------------------------------------*/
    	/*------------------------------------*\
	#Delaney
\*------------------------------------*/
    	/*  Validation in progess page  */
    	
    	.spinner {
    		float: left;
    		width: 48px;
    		height: 48px;
    		animation: spin 3s linear infinite;
    		padding: 5px;
    		margin-right: 5px;
    		position: relative;
    		top: -8px;
    	}
    	
    	@keyframes spin {
    		0% {
    			transform: rotate(0deg);
    		}
    		100% {
    			transform: rotate(360deg);
    		}
    	}
    	/* Survey Dashboard */
    	
    	.panel-heading-operation {
    		color: #333;
    		background-color: #f5f5f5;
    		border-bottom: 2px solid #ccc;
    		background-image: none;
    		padding: 5px;
    	}
    	
    	.operation-title-border {
    		border-bottom: solid 1px #c9c9c9;
    		padding: 5px;
    	}
    	
    	.accordion-operation details summary:hover {
    		text-decoration: none;
    		color: #000;
    	}
    	
    	.accordion-operation details summary {
    		text-decoration: none;
    		color: #000;
    	}
    	
    	hr.mrgn-tp-sm.mrgn-bttm-0 {
    		color: #c9c9c9;
    	}
    	
    	h2.display-inline-block.mrgn-tp-md.mrgn-bttm-sm {
    		font-size: 24px;
    	}
    	
    	.progress-bar {
    		background-color: #3055ba
    	}
    	
    	.icon-light {
    		color: #9EB8CA;
    	}
    	/**** Key indicator ***/
    	
    	#total thead tr {
    		background-color: inherit;
    	}
    	/*-------------------------------------*\
        Production plan report
     /*-------------------------------------*/
    	
    	.commentBox,
    	.commentSave,
    	.commentCancel {
    		display: none;
    	}
    	
    	.good {
    		color: green;
    	}
    	
    	.caution {
    		color: #ECDF1E;
    	}
    	
    	.fail {
    		color: red;
    	}
    	
    	.noReport {
    		color: #817c7c;
    	}
    	
    	.no-comment-icon {
    		padding: 6px 6px 6px;
    		margin-left: 254px;
    	}
    	
    	.milestoneMeters {
    		margin-top: 5px;
    		margin-left: 100px;
    		margin-bottom: 10px;
    	}
    	
    	.optionBorder {
    		border: 1px solid lightgrey;
    		border-radius: 2px;
    		padding: 5 10 0 10;
    	}
    	
    	.commentStandard {
    		margin: 0px 2px -10px;
    	}
    	
    	.commentShort {
    		width: 144px;
		}
		
/*-------------------------------------*\
	Interviewer report
/*-------------------------------------*/
.reportLinks {
	text-decoration: none;
}

.plainLink a {
	text-decoration: none;
	border-bottom: 1px dotted #929292;
	color: #000;
}
		/* Style the tab */

		.verticalTab {
			float: left;

			width: 15%;
		}

		/* Style the buttons that are used to open the tab content */

		.verticalTab button {
			display: block;
			background: inherit;
			border-color: #ccc;
			border-style: solid;
			border-width: 1px;
			margin-left: 9px;
			padding-bottom: 10px;
			padding-top: 10px;
			width: 100%;
			color: #000;
			cursor: pointer;
			display: table-cell;
			left: -10px;
			position: relative;
			text-align: center;
		}

		/* Change background color of buttons on hover */

		.verticalTab button:hover {
			background-color: #ddd;
		}

		/* Create an active/current "tab button" class */

		.verticalTab button.active {
			background-color: #ccc;
		}

		/* Style the tab content */

		.tabcontent {
			float: left;
			padding: 20px;
			border: 1px solid #ccc;
			width: 85%;
		}

	/*-------------------------------------*\
#Delaney- End
/*-------------------------------------*/

		/****************************************************************
                           Call vs. Claim - Survey
        ****************************************************************/

        /****************** COLOURS **********************************/

        .bg-res {
            background-color: #03651b;
        }

        .bg-res-2 {
            background-color: #00bf00;
        }

        .bg-nocon {
            background-color: #6080c0;
        }

        .bg-nocon-2 {
            background-color: #90bfdf;
        }

        .bg-nocon-3 {
            background-color: #3040a0;
        }

        .bg-other {
            background-color: #7e60a0;
        }

        .bg-other-2 {
            background-color: #bf90cf;
        }

        .bg-other-3 {
            background-color: #40306f;
        }

        .bg-ref {
			background-color: #b30714;
        }

        .bg-ref-2 {
            background-color: #ff4d4d;
        }

        .bg-other-sur {
            background-color: #949494;
        }

		.bg-claimed {
            background-color: #de630f;
        }

		.bg-other-task {
            background-color: #f0de11;
        }

        .bg-off-sys {
            background-color: #ffffff;
        }

		.bg-other-claim {
			background-color: #CCCCCC;
		}

		.text-outlier {
			color: #D02B2C
		}

        .cvc-colours {
            width: 100%;
            height: 30px;
        }

		.cvc-colours-tbl {
			width: 20px;
			height: 25px;
		}

        /************* FORMATTING *****************/

        .cvc-mdl .dataTables_paginate .paginate_button.current {
            padding: 10px 16px !important;
        }

        .filterTag {
            padding-left: 10px;
            color: #ffffff;
            background-color: #426D94;
            display: inline-block;
            border-radius: 5px;
        }

        .cvc-barGraph .zoom:hover {
            transform: scaleY(1.2);
            box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.2), 1px 3px 10px 0 rgba(0, 0, 0, 0.19);
        }

		.cvc-barGraph .zoom.clickable:hover {
			transform: scaleY(1.2);
			box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.2), 1px 3px 10px 0 rgba(0, 0, 0, 0.19);
			cursor: pointer;
		}

        #cvc-tooltip, .cvc-tooltip {
            position: absolute;
            display: none;
            border: 2px solid #ddd;
            padding: 15px;
            background-color: #fff;
            z-index: 500;
            border-radius: 5px;
        }

		.view-details th {
			vertical-align: top !important;
		}

        /************** UTILS *********************/
        .pddng-8px {
            padding: 8px;
        }

        .brdr-lft-drk {
            border-left: 2px solid #1f1f1f;
        }

        .brdr-rght-drk {
            border-right: 2px solid #1f1f1f;
        }

        .ln-hght-30px {
            line-height: 30px;
        }

        .brdr-lft-white {
            border-left: 1px solid #ffffff;
        }

        .brdr-rght-white {
            border-right: 1px solid #ffffff;
        }

        .width98 {
			width: 98%;
		}

        .height20px {
            height: 20px;
        }

        .display-none {
            display: none;
        }

        .brdr-all {
            border: solid 1px #ccc;
        }

        .text-normal {
            font-weight: normal;
        }





